name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: compile
      run: g++ main.cpp foo.cpp -oa --coverage
      
    - name: run
      run: ./a
      
    - name: collect coverage
      run: gcovr --xml-pretty -o report.xml -e main.cpp
      
    - name: Codecov

    - uses: codecov/codecov-action@v2.0.2
