name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: compile
      run: cmake -B build -S . && cmake --build build
      
    - name: run
      run: ./build/test
      
    - name: collect coverage
      run: |
        sudo apt-get install lcov
        lcov -c -d . -o coverage.info --no-external --rc lcov_branch_coverage=1
        lcov --list coverage.info --rc lcov_branch_coverage=1
        genhtml coverage.info --output-directory=coverage-report
    
    - name: upload coverage htmls
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: |
          coverage.info
          coverage-report/

    - uses: codecov/codecov-action@v2.0.2
      with:
        files: coverage.info
